config mqtt_subscriber 'mqtt_subscriber_settings'
    option 'enable' 0
    option 'hostname' ''
    option 'port' ''
    option 'use_tls' 0

config topic
    option 'name' 'home/living_room/thermometer'
    option 'qos' '0'

config topic
    option 'name' 'home/living_room/tv'
    option 'qos' '1'

config topic
    option 'name' 'home/living_room/dsada'
    option 'qos' '1'

config event
    option 'topic' 'home/living_room/thermometer'
    option 'param' 'temp'
    option 'comparison' '<'
    option 'ref_value' '19'
    option 'email' 'sendermail@notmail.com'
    list 'recipient' 'email1@email.com'
    list 'recipient' 'email2@email.com'