config event
    option 'topic' 'home/living_room/tv'
    option 'type' '0'
    option 'param' 'temp'
    option 'comparator' '<'
    option 'ref_value' '20'
    option 'sender' 'dz_mykolas'
    list 'recipient' 'mail0'

config event
    option 'topic' 'home/living_room/tv'
    option 'type' '0'
    option 'param' 'temp'
    option 'comparator' '=='
    option 'ref_value' '20'
    option 'sender' 'dz_mykolas'
    list 'recipient' 'mail1'
    list 'recipient' 'mail0'

config event
    option 'topic' 'home/living_room/tv'
    option 'type' '0'
    option 'param' 'temp'
    option 'comparator' '!='
    option 'ref_value' '20'
    option 'sender' 'dz_mykolas'
    list 'recipient' 'mail1'

config event
    option 'topic' 'home/living_room/tv'
    option 'type' '1'
    option 'param' 'temp'
    option 'comparator' '!='
    option 'ref_value' 'high'
    option 'sender' 'dz_mykolas'
    list 'recipient' 'mail0'

config event
    option 'topic' 'home/living_room/tv'
    option 'type' '1'
    option 'param' 'temp'
    option 'comparator' '=='
    option 'ref_value' 'medium'
    option 'sender' 'dz_mykolas'
    list 'recipient' 'mail0'
